<!-- create the posts -->
<% if (posts && posts.length) {
    posts.forEach( function(post) { %>
        <div class="post-container">
            <!-- upvote/downvote btn & post score displayed -->
            <% include postScore %>

            <!-- display main post info (title, text, tags, etc.)-->
            <% include postBody %>
        </div>
<% })
} %>