<!-- Small modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm">Small
    modal</button> -->

<!-- confirmation popup for deleting posts/comments -->
<div class="modal fade bd-example-modal-sm" id="confirm-modal" tabindex="-1" role="dialog" aria-labelledby="confirm-modal"
    aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content confirm-modal-content">
            <!-- confirmation message -->
            <div class="text-center confirm-msg" id="confirm-msg">
            </div>
            <!-- confirmation buttons -->
            <div class="confirm-btns">
                <button class="yes-btn" id="confirm-yes-btn">Yes</button>
                <button class="no-btn" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>