<!-- Posts -->
<div class="col-lg-10 col-sm-9 post-column">
    <!-- Searchbar -->
    <div class="search-posts-container mb-4">
        <% include searchbar %>
        <% include sortPosts %>
    </div>

    <div id="posts-wrapper">
        <!-- create the posts -->
        <% include createPosts %>
    </div>
</div>