<!-- Posts -->
<div class="col-lg-10 col-sm-9 post-column">
    <!-- Searchbar -->
    <div class="search-posts-container mb-4">
        <% include searchbar %>
        <% include sortPosts %>
    </div>

    <!-- only render posts if category & subcategory exists -->
    <% if (isCategoryValid) { %>
    <div id="posts-wrapper">
        <!-- create the posts -->
        <% include renderPosts %>
    </div>
    <% } else { %>
    <div class="text-center text-secondary no-category-container">
        <div class="pb-2">
            This category doesn't exist.
        </div>
        <div>
            Use the sidebar to navigate to an existing category.
        </div>
    </div>
    <% } %>

</div>