<!-- Specific Post -->
<div class="col-lg-10 col-sm-9 post-column">
    <!-- Searchbar -->
    <div class="search-posts-container mb-4">
        <% include searchbar %>
    </div>

    <div id="posts-wrapper">
        <% include renderDetailedPost %>
    </div>
</div>