<div class="detailed-post-container container-fluid">
    <!-- post -->
    <div class="row">
        <div class="col-1 post-score-col">
            <!-- upvote/downvote btn & post score displayed -->
            <% include postScore %>
        </div>
        <div class="col-11">
            <!-- display main post info (title, text, tags, etc.)-->
            <% include detailedPostBody %>
        </div>
    </div>
</div>

<!-- comments -->
<div class="comments-container">
    <!-- create a comment -->
    <div class="create-comment-wrapper">
        <textarea class="form-control new-comment" placeholder="Write a comment..." rows="3"></textarea>
        <button class="btn btn-sm btn-primary new-comment-btn" onclick="createNewComment()">Comment</button>
    </div>

    <!-- all comments -->
    <div class="comments-wrapper">

        <% if (comments && comments.length != 0) { %>
        <% comments.forEach( function(comment) { %>
        <div class="comment">
            <div class="comment-info">
                <a href="/posts/user/<%= comment.authorUsername %>" class="post-link post-info-dark"><%= comment.authorUsername %></a>
                <span class="comment-time"><%= moment(comment.created).fromNow() %></span>
            </div>
            <div class="comment-body"><%= comment.body %></div>
        </div>
        <%  }) %>
        <% } %>

    </div>

    <!-- <button onclick="deleteComment(' comment._id ')">Delete Comment</button> -->

    // delete btn for post & comment
</div>