<div class="detailed-post-container container-fluid">
    <!-- post -->
    <div class="row">
        <div class="col-1 post-score-col">
            <!-- upvote/downvote btn & post score displayed -->
            <% include postScore %>
        </div>
        <div class="col-11 detailed-post-body-wrapper">
            <!-- display main post info (title, text, tags, etc.)-->
            <% include detailedPostBody %>
        </div>
    </div>
</div>

<!-- comments -->
<% include comment %>