<!-- Searchbar to search for posts -->
<div class="searchbar-wrapper">
        <div class="input-group bg-white border rounded-pill p-1 searchbar">
            <div class="input-group">
                <input type="search" placeholder="What are you searching for?" aria-describedby="search"
                    class="form-control border-0 bg-white rounded-pill searchbar-input" id="searchString">
                <div class="input-group-append">
                    <button id="button-addon1" class="btn btn-link text-primary"><i
                            class="fa fa-search" onclick="searchPosts()"></i></button>
                </div>
            </div>
        </div>
</div>