<!-- Searchbar to search for posts -->
<div class="searchbar-wrapper">
    <form action="" class="searchbar-form">
        <div class="input-group bg-white border rounded-pill p-1 searchbar">
            <div class="input-group">
                <input type="search" placeholder="What're you searching for?" aria-describedby="search"
                    class="form-control border-0 bg-white rounded-pill searchbar-input">
                <div class="input-group-append">
                    <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i
                            class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </form>
</div>