<!-- dropdown to sort posts -->
<div class="sort-posts-wrapper">
    <label>Sort by:</label>
    <div class="sort-post-dropdown-wrapper">
        <select class="sort-post-dropdown" id="sort-post-dropdown" onchange="sortPosts(this)">
            <option value="created" data-sort-order="descending" <%= sortField === 'created' ? 'selected' : '' %>>Newest</option>
            <option value="score" data-sort-order="descending" <%= sortField === 'score' ? 'selected' : '' %>>Highest Rated</option>
            <option value="views" data-sort-order="descending" <%= sortField === 'views' ? 'selected' : '' %>>Most Viewed</option>
        </select>
    </div>
</div>