<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <title>Acaply</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .sidebar-arrow[data-toggle].collapsed:after {
            content: "▼";
            display: inline-block;
            transform: rotate(90deg);
            font-size: 12px;
        }

        .sidebar-arrow[data-toggle]:not(.collapsed):after {
            content: "▼";
            font-size: 12px;
        }

        .sidebar-subcategory {
            padding-left: 20px;
        }
    </style>
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">

                <div class="nav-item">
                    <form action="/login" method="GET">
                        <button type="submit" class="btn btn-link">login</button>
                    </form>
                </div>
                <div class="nav-item">
                    <form action="/signup" method="GET">
                        <button type="submit" class="btn btn-link">signup</button>
                    </form>
                </div>
                <div class="nav-item">
                    <form action="/logout" method="POST">
                        <button type="submit" class="btn btn-link">logout</button>
                    </form>
                </div>
                <div class="nav-item">
                    <% if (user) { %>
                    <p><%= user.username %></p>
                    <% } %>
                </div>
            </div>
        </div>
    </nav>

    <form action="/posts/createPost" method="POST">
        <input type="text" name="title" placeholder="title">
        <input type="text" name="body" placeholder="body text">
        <input type="text" name="keywords" placeholder="keywords">

        <select name="category" required>
            <option value="general">General</option>
            <option value="clubs">Clubs</option>
            <option value="classes">Classes</option>
        </select>

        <select name="subCategory" required>
            <option value="english">English</option>
            <option value="math">Math</option>
            <option value="science">Science</option>
            <option value="events">Events</option>
        </select>

        <button type="submit">Create Post</button>
    </form>

    <!-- sidebar & posts container -->
    <div class="container-fluid">
        <div class="row">

            <!-- sidebar -->
            <div class="col-2 collapse show d-md-flex bg-light pt-2 pl-0 min-vh-100" id="sidebar">
                <ul class="nav flex-column flex-nowrap overflow-hidden">
                    <li class="nav-item">
                        <div class="sidebar-category text-truncate"><button
                                class="btn btn-link d-none d-sm-inline">Reports</button><span
                                class="sidebar-arrow collapsed" data-toggle="collapse" data-target="#submenu1"></span>
                        </div>
                        <div class="collapse" id="submenu1" aria-expanded="false">
                            <ul class="flex-column pl-2 nav">
                                <li class="nav-item sidebar-subcategory">
                                    <div class="py-0"><button class="btn btn-link d-none d-sm-inline">Reports</button>
                                    </div>
                                </li>
                                <li class="nav-item sidebar-subcategory">
                                    <div class="collapsed py-1"><button
                                            class="btn btn-link d-none d-sm-inline">Reports</button></div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- posts -->
            <div class="col-10">
                <div>
                    <% if (posts && posts.length) { %>
                    <% posts.forEach((post) => { %>
                    <p><%= post %></p>
                    <% }) %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>