<!-- This is the login page. -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Acaply - Login</title>
</head>

<body>
    <!-- The form that logs the user in. -->
    <form action="/loginValidate" method="POST">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Log In</button>
    </form>

    <!-- The form that brings the user back to the home page. -->
    <form action="/">
        <button type="submit">Home</button>
    </form>
</body>

</html>