<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acaply- Reset Password</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom Styles -->
    <link type="text/css" rel="stylesheet" href="/css/index.css">
    <link type="text/css" rel="stylesheet" href="/css/login.css">
</head>

<body>
    <!-- navbar -->
    <% include ../views/partials/navbar %>

    <% if (isLinkValid) { %>
    <!-- form that sends user email to reset password -->
    <div class="card-center" id="reset-password-card">
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card card-signin my-5">
                        <div class="card-body">
                            <h5 class="card-title text-center mb-4">Reset Password</h5>
                            <div class="text-center mb-3 text-danger login-error-msg" id="message">
                                <!-- text filled by js -->
                            </div>
                            <div class="form-signin">
                                <div class="form-label-group">
                                    <input type="password" id="password" name="password" class="form-control"
                                        placeholder="New password" required autofocus>
                                    <label for="password">New Password</label>
                                </div>
                                <div class="form-label-group">
                                    <input type="password" id="confirmPassword" name="confirmPassword"
                                        class="form-control" placeholder="Confirm Password" required autofocus>
                                    <label for="confirmPassword">Confirm Password</label>
                                    <small class="text-danger match-message pl-4" id="match-message">* The passwords
                                        entered don't match.</small>
                                </div>

                                <input type="hidden" value="<%= userId %>" id="userId">
                                <input type="hidden" value="<%= token %>" id="token">

                                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="button"
                                    id="submit-reset-password">Change Password</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- show this card after password successfully changes password -->
    <div class="card-center" id="success-card" style="display: none;">
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card card-signin my-5">
                        <div class="card-body">
                            <h5 class="card-title text-center mb-4">Reset Password</h5>
                            <div class="text-center mb-3 text-success" id="success-msg">
                                Your password has been successfully changed.
                            </div>
                            <div class="text-center mb-3 text-secondary">
                                Click the button below to login.
                            </div>

                            <button class="btn btn-lg btn-primary btn-block" type="button"
                                onclick="window.location = '/login'">Log In</button>
                            <div>
                                <div class="w-100 text-center pt-3">
                                    <a href="/">Continue as Guest</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } %>

    <!-- send user back to forgot password page -->
    <div class="card-center" id="link-invalid-card" <%= (isLinkValid) ? "style='display: none;'" : '' %>>
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card card-signin my-5">
                        <div class="card-body">
                            <h5 class="card-title text-center mb-4">Link Invalid</h5>
                            <div class="text-center mb-3 text-danger" id="error-msg">
                                This link is not valid. If you would like to reset your password, click the button
                                below.
                            </div>

                            <button class="btn btn-lg btn-primary btn-block" type="button" id="submit-reset-password"
                                onclick="window.location = '/forgotPassword'">Reset Password</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap 4 requirements -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <!-- Axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>

    <!-- custom scripts -->
    <script src="/js/resetPassword.js"></script>
</body>

</html>