<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Acaply - Sign Up</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- font awesome -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" />

    <!-- Custom Styles -->
    <link type="text/css" rel="stylesheet" href="/css/index.css">
    <link type="text/css" rel="stylesheet" href="/css/login.css">
</head>

<body>
    <!-- navbar -->
    <% include ../views/partials/navbar %>

    <!-- The form that creates a new user. (new account) -->
    <div class="card-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card card-signin my-5">
                        <div class="card-body">
                            <h5 class="card-title text-center">Sign Up</h5>
                            <div class="text-center mb-3 text-danger login-error-msg" id="login-error-msg">
                                <!-- text filled only if login error -->
                            </div>
                            <form class="form-signin">
                                <div class="form-label-group">
                                    <input type="text" id="username" name="username" class="form-control"
                                        placeholder="Username" required autofocus>
                                    <label for="username">Username</label>
                                </div>

                                <div class="form-label-group">
                                    <input type="email" id="email" name="email" class="form-control"
                                        placeholder="Email" required autofocus>
                                    <label for="email">Email</label>
                                </div>

                                <div class="form-label-group">
                                    <input type="password" id="password" name="password" class="form-control"
                                        placeholder="Password" required>
                                    <label for="password">Password</label>
                                </div>

                                <div class="mb-3 text-right">
                                    <a href="#">Forgot Password?</a>
                                </div>
                                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="button"
                                    id="submit-signup">Create
                                    Account</button>
                                <div class="mb-3">
                                    <div class="text-center mt-4">
                                        <span>Already have an account? </span>
                                        <a href="/login">Log in</a>
                                        <div class="text-center mt-1">
                                            <a href="/posts/">Browse as Guest</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap 4 requirements -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <!-- custom scripts (must go below jquery script) -->
    <script src="/js/signup.js"></script>

    <!-- Axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>

</body>

</html>