<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Acaply - Sign Up</title>
</head>

<body>
    <!-- The form that creates a new user. -->
    <form action="/createAccount" method="POST">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Sign Up</button>
    </form>

    <!-- The form that brings the user back to the home page. -->
    <form action="/">
        <button type="submit">Home</button>
    </form>
</body>

</html>