<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <title>Acaply - Signup</title>
</head>

<body>
    <form action="/createAccount" method="POST">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <button type="submit">signup</button>
    </form>

    <form action="/">
        <button type="submit">Go to home</button>
    </form>
</body>

</html>