<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <title>Acaply - View</title>
</head>

<body>
    <div>View Post</div>
    <div>
        <% if (post) { %>
            <p><%= post %></p>
        <% } %>

        <form action="/comment/createComment" method="POST">
            <input type="text" name="comment" placeholder="comment...">
            <button type="submit">Create Comment</button>
        </form>

    </div>
</body>

</html>