<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <title>Acaply - View</title>
</head>

<body>
    <div>View Post</div>
    <div>
        <% if (post) { %>
        <p><%= JSON.stringify(post) %></p>
        <% } %>

        <% if (comments) { %>
            <% comments.forEach(function (comment) { %>
                <p><%= JSON.stringify(comment) %></p>
                <button onclick="deleteComment('<%= comment._id %>')">Delete Comment</button>
                <br>
            <% }); %>
        <% } %>

        <form action="/comment/createComment" method="POST">
            <input type="text" name="comment" placeholder="comment...">
            <input type="hidden" name="postId" value="<%= post._id %>">
            <button type="submit">Create Comment</button>
        </form>

    </div>

    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>

    <!-- custom scripts -->
    <script src="/js/index.js"></script>
</body>

</html>