<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <title>Acaply</title>
</head>

<body>
    <div>View Post</div>
    <div>
        <% if (postDoc) { %>
            <p><%= postDoc %></p>
        <% } %>
    </div>
</body>

</html>