.post-container {
    overflow: visible;
    /* text-overflow: ellipsis; */
}


.post-body {
    white-space: normal;
    overflow: visible;
    white-space: pre-wrap;
}

.post-info-wrapper {
    white-space: nowrap;
}