.detailed-post-container {
    background-color: #fff;
    border: 1px #f0f0f0 solid;
}

.post-score-col {
    border-right: 1px #f0f0f0 solid;
    display: flex;
    align-items: baseline;
    justify-content: center;
    max-width: 50px;
}

.score-wrapper {
    border: none;
}

.post-body {
    white-space: normal;
}

.post-info-wrapper {
    white-space: normal;
    flex-wrap: wrap;
}

.keywords-wrapper {
    overflow-x: auto;
    width: 100%;
    white-space: nowrap;
}

.post-title {
    padding: 10px 0;
}

.post-body {
    padding: 10px 0;
    font-size: 1rem;
}

.post-stats-wrapper {
    display: flex;
}

.comments-container {
    background-color: #fff;
    border: 1px #f0f0f0 solid;
    margin: 3rem 0;
}

.create-comment-wrapper {
    padding: 20px;
    text-align: right;
    border-bottom: 1px #f0f0f0 solid;
}

.new-comment {
    background-color: rgb(250, 250, 250);
}

.new-comment-btn {
    margin-top: 20px;
}

.comment {
    padding: 20px;
}

.comment-info {
    font-size: 15px;
    font-weight: 500;
}

.comment-time {
    font-size: 14px;
    font-weight: 400;
    color: #858585;
}

.menu-wrapper {
    text-align: center;
    border-radius: 100%;
    width: 25px;
}

.menu-toggle {
    border: none;
    background-color: transparent;
    height: 25px;
    width: 25px;
    font-size: 11px;
    font-weight: 400;
    color: #858585;
    cursor: pointer;
    border-radius: 100%;
}

.menu-toggle:hover {
    background: rgba(160, 160, 160, 0.2);
    color: #000000;
    transition: background-color 0.3s linear;
}

.menu-toggle:focus {
    outline: none;
}

.post-menu-toggle {
    padding: 0;
}

.menu-dropdown {
    padding: 0;
    min-width: 5rem;
    text-align: left;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
}

.menu-dropdown .dropdown-item {
    padding: 0;
    font-size: 14px;
    color: #626262;
    padding: 1px 0 1px 10px;
}
.menu-dropdown .dropdown-item:active {
    background-color: #e4e4e4;
}

.menu-dropdown .dropdown-item:focus {
    outline-color: transparent;
}

.comment-body {
    padding-top: 5px;
    font-size: 14px;
}

.comment-body[contenteditable="true"] {
    outline: none;
    border:none;
    padding-bottom: 2px;
    border-bottom: 3px solid rgba(251, 112, 62, 1);
    transition : border 0.2s ease-out;
}

.edit-comment-wrapper {
    padding-top: 10px;
    text-align: right;
    display: none;
}

.edit-comment-cancel {
    color: #000000;
    padding-right: 1.5rem;
}

.edit-comment-cancel:hover {
    text-decoration: none;
    color: #dc3545;
}

.edit-comment-save {
    padding: 0.25rem 1.5rem;
}

@media (max-width: 635px) {
    .row .post-score-col {
        max-width: 0;
    }

    .vote-score {
        padding: 0 15px;
    }

    .detailed-post-body-wrapper {
        padding: 0;
    }

    .post-wrapper {
        padding-top: 0;
    }
}

@media (max-width: 404px) {
    .row .post-score-col {
        border: none;
    }

    .score-wrapper {
        flex-direction: row;
        margin-left: 50px;
        padding: 0 0 0 15px;
    }

    .post-wrapper {
        display: block;
    }
}