.sidebar-wrapper {
    padding: 0;
}

.sidebar {
    width: 100%;
}

.create-post-btn {
    background-color: rgb(24, 144, 255);
    border: none;
    color: #fff;
    width: 100%;
    height: 50px;
    font-weight: 700;
}

.sidebar-arrow {
    cursor: pointer;
}
.sidebar-arrow[data-toggle].collapsed:after {
    content: "▼";
    display: inline-block;
    transform: rotate(90deg);
    font-size: 12px;
}
.sidebar-arrow[data-toggle]:not(.collapsed):after {
    content: "▼";
    font-size: 12px;
}
.sidebar-subcategory {
    padding-left: 20px;
    text-align: left;
}

.category-btn {
    color: black;
}

.category-btn:hover {
    color: #007bff;
    text-decoration: none;
}

.subcategory-btn {
    color: black;
    text-align: left;
}

.subcategory-btn:hover {
    color: #007bff;
    text-decoration: none;
}

.post-container {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}