body {
    background-color: rgb(248, 249, 250);;
}

.sidebar-wrapper {
    padding-right: 0;
}

.sidebar {
    width: 100%;
    max-width: 290px; 
    min-width: 190px;
    margin: 10px 0;
    border: 1px #f0f0f0 solid;
}

.create-post-btn {
    background-color: rgb(24, 144, 255);
    border: none;
    color: #fff;
    width: 100%;
    height: 50px;
    font-weight: 700;
}

.sidebar-arrow {
    cursor: pointer;
}

.sidebar-arrow[data-toggle].collapsed:after {
    content: "▼";
    display: inline-block;
    transform: rotate(90deg);
    font-size: 12px;
}

.sidebar-arrow[data-toggle]:not(.collapsed):after {
    content: "▼";
    font-size: 12px;
}

.sidebar-subcategory {
    padding-left: 20px;
    text-align: left;
}

.category-btn {
    color: black;
}

.category-btn:hover {
    color: #007bff;
    text-decoration: none;
}

.subcategory-btn {
    color: black;
    text-align: left;
}

.subcategory-btn:hover {
    color: #007bff;
    text-decoration: none;
}

.post-column {
    padding: 0 5vw;
}

.post-container {
    display: flex;
    background-color: #fff;
    border: 1px #f0f0f0 solid;
    margin: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.score-wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    border-right: 1px #f0f0f0 solid;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.vote-icon {
    color: rgba(175, 175, 175, 0.8);
    font-size: 20px;
    font-weight: 100;
    cursor: pointer;
}

.vote-clicked {
    color: rgba(251, 112, 62, 0.8);
}

.post-wrapper {
    padding: 10px;
}

.post-title {
    color: #454f5b;
    font-weight: 500;
}

.post-link:hover {
    color: #1890ff;
    text-decoration: none;
}

.post-body {
    padding: 0 5px 5px 0;
    font-size: 14px;
    color: #4d4d4d;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-info-wrapper {
    display: flex;
    font-size: 13px;
}

.post-info-wrapper * {
    padding: 5px 5px 5px 0;
    color: #858585;
}

.post-info-wrapper div.post-keyword {
    margin: 0 2px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 12%;
}

.post-keyword a {
    padding: 0;
}

.post-info-dark{
    color: #2c2c2c;
}